---
layout: gallery
---
<div class="gallery masonry-gallery">
  {% for image in page.images %}
    <figure class="gallery-item">
			<header class='gallery-icon'>
				<a href="{{ image.src | prepend:page.img-folder | prepend:site.baseurl }}" class="popup">
          <img src="{{ image.src | prepend:page.img-folder | prepend:site.baseurl }}" style="cursor: default;" />
        </a>
			</header>
			<figcaption class='gallery-caption'>
				<div class="entry-summary">
					<h3>{{ image.title }}</h3>
					<p>{{ image.caption }}</p>
				</div>
			</figcaption>
		</figure>
  {% endfor %}
</div>
